<h2><center>Week 6 - Assignment</center></h2>
<h3><center>Programming for Data Science 2024</center></h3>

Exercises for the topics covered in the sixth lecture.

The exercise will be marked as passed if you get **at least 10/15** points.

Exercises must be handed in via **ILIAS** (Homework assignments). Deliver your submission as a compressed file (zip) containing one .py or .ipynb file with all exercises. The name of both the .zip and the .py/.ipynb file **must** be *SurnameName* of the two members of the group. Example: Riccardo Cusinato + Athina Tzovara = *CusinatoRiccardo_TzovaraAthina.zip* .

It's important to use comments to explain your code and show that you're able to take ownership of the exercises and discuss them.

You are not expected to collaborate outside of the group on exercises and submitting other groups’ code as your own will result in 0 points.

For questions contact: *riccardo.cusinato@unibe.ch* with the subject: *Programming for Data Science 2024*.

**Deadline: 14:00, April 11, 2024.**

<h3 style="text-align:left;">Exercise 1 - World Happiness Report<span style="float: right">8 points</span></h3>

You will find the CSV files *report.csv* and *region.csv* in the data folder for this assignment (Credit: https://www.kaggle.com/ajaypalsinghlo/world-happiness-report-2021).

1. Import the two *csv* files and save them in two variables called *df_report* and *df_region*. Create a new column "region" in the *df_report* dataframe by populating it with the correct region in the *df_region* dataframe. If a country does not exist in *df_region*, label it as "unknown" in *df_report*. Print *df_report* at the end. (*2 points*)

**NB** If you are unable to do the exercise, you can use the file *report_region.csv* in the data folder for the next points.

In [1]:
import pandas as pd
import numpy as np

In [ ]:
###
# YOUR CODE HERE
###

2. Calculate and print the median "Healthy life expectancy at birth" per region in the year 2019. (*2 point*)

In [ ]:
###
# YOUR CODE HERE
###

3. Create a Pivot table with the median "Healthy life expectancy at birth" per region (index) per year (column) and print it. (*1 point*)

In [ ]:
###
# YOUR CODE HERE
###

4. Create a Pivot table (same structure as before) with the maximum "Log GDP per capita" per region per year and print it. In the resulting table, also add the overall values across years for each region, with the appropriate pandas method. (*1 point*)

In [ ]:
###
# YOUR CODE HERE
###

5. Find the length of the shortest country name(s) in the dataset and print it, together with the actual countries (print just the unique occurrences!). Then, create a new column ”Short name”, where each country name is cut down to the length of the shortest country name. For instance, if the country with the shortest name is Germany (7 letters, and not true, just an example), ”Switzerland” would become ”Switzer”. (*2 points*)

In [ ]:
###
# YOUR CODE HERE
###

<h3 style="text-align:left;">Exercise 2 - Weather data<span style="float: right">7 points</span></h3>

In this exercise, you'll use the *weather.csv* dataset that contains UK weather data. The dataset has columns year and month describing which year and month a specific recording belongs to. (Credit: https://www.kaggle.com/josephw20/uk-met-office-weather-data)

1. Import the dataset into a dataframe called *df_weather* and create a new column *datetime*, containing a datetime object for each row describing the year and month of the recording. The day can be set as the 1st of the month. Finally, print the dataframe. (*2 points*)

**NB**  If you are unable to do this exercise, you can use the file *weather_datetime.csv* in the data folder for the next points.

In [26]:
print(np.sum(df_weather['month'].isnull()))
print(np.sum(df_weather['year'].isnull()))

# We have 20 missing data in each of these columns

20
20

In [100]:
df_weather = pd.read_csv('./dataW6/weather.csv')


df_weather['month'] = df_weather['month'].astype('Int64') # convert to int values, NA like values are replace by pandas.NA
df_weather['year'] = df_weather['year'].astype('Int64')
df_weather['day'] = 1 # create a new column for the first day of the month

df_weather['datetime'] = pd.to_datetime(df_weather[['year', 'month', 'day']], errors='ignore')

df_weather['datetime'] = df_weather['datetime'].dt.strftime('%Y-%m-%d')



print(df_weather)
print(df_weather[df_weather['month'].isna()])

ValueError: cannot convert NA to integer

In [102]:
# Load the weather data
df_weather = pd.read_csv('./dataW6/weather.csv')

# Convert "month" and "year" columns to nullable integers
df_weather['month'] = pd.to_numeric(df_weather['month'], errors='coerce')
df_weather['year'] = pd.to_numeric(df_weather['year'], errors='coerce')

# Set the "day" column to 1 for the first day of each month
df_weather['day'] = 1

# Create the datetime column, keeping NA values
df_weather['datetime'] = pd.to_datetime(df_weather[['year', 'month', 'day']], errors='coerce')

# Print the DataFrame
print(df_weather)
print(df_weather[df_weather['month'].isna()])

         year  month  tmax  tmin   af   rain    sun    station  day   datetime
0      1941.0    1.0   NaN   NaN  NaN   74.7    NaN  aberporth    1 1941-01-01
1      1941.0    2.0   NaN   NaN  NaN   69.1    NaN  aberporth    1 1941-02-01
2      1941.0    3.0   NaN   NaN  NaN   76.2    NaN  aberporth    1 1941-03-01
3      1941.0    4.0   NaN   NaN  NaN   33.7    NaN  aberporth    1 1941-04-01
4      1941.0    5.0   NaN   NaN  NaN   51.3    NaN  aberporth    1 1941-05-01
...       ...    ...   ...   ...  ...    ...    ...        ...  ...        ...
37044  2020.0    2.0  10.8   4.5  2.0  117.4   63.1  yeovilton    1 2020-02-01
37045  2020.0    3.0  11.5   3.0  6.0   43.4  159.2  yeovilton    1 2020-03-01
37046  2020.0    4.0  17.5   5.3  3.0   39.8  235.0  yeovilton    1 2020-04-01
37047  2020.0    5.0  19.7   6.8  2.0    3.6  305.6  yeovilton    1 2020-05-01
37048  2020.0    6.0  20.5  11.0  0.0  103.0  187.6  yeovilton    1 2020-06-01

[37049 rows x 10 columns]
       year  month  tmax  tmin  af  rain  sun       station  day datetime
3540    NaN    NaN   NaN   NaN NaN   NaN  NaN  ballypatrick    1      NaT
5023    NaN    NaN   NaN   NaN NaN   NaN  NaN       braemar    1      NaT
8908    NaN    NaN   NaN   NaN NaN   NaN  NaN    cwmystwyth    1      NaT
9366    NaN    NaN   NaN   NaN NaN   NaN  NaN  dunstaffnage    1      NaT
16706   NaN    NaN   NaN   NaN NaN   NaN  NaN     lowestoft    1      NaT
17820   NaN    NaN   NaN   NaN NaN   NaN  NaN     lowestoft    1      NaT
18745   NaN    NaN   NaN   NaN NaN   NaN  NaN       manston    1      NaT
18923   NaN    NaN   NaN   NaN NaN   NaN  NaN         nairn    1      NaT
19734   NaN    NaN   NaN   NaN NaN   NaN  NaN         nairn    1      NaT
24191   NaN    NaN   NaN   NaN NaN   NaN  NaN       ringway    1      NaT
27811   NaN    NaN   NaN   NaN NaN   NaN  NaN   southampton    1      NaT
29555   NaN    NaN   NaN   NaN NaN   NaN  NaN   southampton    1      NaT
34387   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1      NaT
34633   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1      NaT
34795   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1      NaT
34797   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1      NaT
34799   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1      NaT
34801   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1      NaT
34803   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1      NaT
34855   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1      NaT

In [70]:
# Checking the right output
df_weather_sol = pd.read_csv('./dataW6/weather_datetime.csv')
print(df_weather_sol[df_weather_sol['month'].isna()])
print(df_weather_sol)

       Unnamed: 0  year  month  tmax  tmin  af  rain  sun       station  day  \
3540         3540   NaN    NaN   NaN   NaN NaN   NaN  NaN  ballypatrick    1
5023         5023   NaN    NaN   NaN   NaN NaN   NaN  NaN       braemar    1
8908         8908   NaN    NaN   NaN   NaN NaN   NaN  NaN    cwmystwyth    1
9366         9366   NaN    NaN   NaN   NaN NaN   NaN  NaN  dunstaffnage    1
16706       16706   NaN    NaN   NaN   NaN NaN   NaN  NaN     lowestoft    1
17820       17820   NaN    NaN   NaN   NaN NaN   NaN  NaN     lowestoft    1
18745       18745   NaN    NaN   NaN   NaN NaN   NaN  NaN       manston    1
18923       18923   NaN    NaN   NaN   NaN NaN   NaN  NaN         nairn    1
19734       19734   NaN    NaN   NaN   NaN NaN   NaN  NaN         nairn    1
24191       24191   NaN    NaN   NaN   NaN NaN   NaN  NaN       ringway    1
27811       27811   NaN    NaN   NaN   NaN NaN   NaN  NaN   southampton    1
29555       29555   NaN    NaN   NaN   NaN NaN   NaN  NaN   southampton    1
34387       34387   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1
34633       34633   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1
34795       34795   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1
34797       34797   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1
34799       34799   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1
34801       34801   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1
34803       34803   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1
34855       34855   NaN    NaN   NaN   NaN NaN   NaN  NaN        whitby    1

      datetime
3540       NaN
5023       NaN
8908       NaN
9366       NaN
16706      NaN
17820      NaN
18745      NaN
18923      NaN
19734      NaN
24191      NaN
27811      NaN
29555      NaN
34387      NaN
34633      NaN
34795      NaN
34797      NaN
34799      NaN
34801      NaN
34803      NaN
34855      NaN
       Unnamed: 0    year  month  tmax  tmin   af   rain    sun    station  \
0               0  1941.0    1.0   NaN   NaN  NaN   74.7    NaN  aberporth
1               1  1941.0    2.0   NaN   NaN  NaN   69.1    NaN  aberporth
2               2  1941.0    3.0   NaN   NaN  NaN   76.2    NaN  aberporth
3               3  1941.0    4.0   NaN   NaN  NaN   33.7    NaN  aberporth
4               4  1941.0    5.0   NaN   NaN  NaN   51.3    NaN  aberporth
...           ...     ...    ...   ...   ...  ...    ...    ...        ...
37044       37044  2020.0    2.0  10.8   4.5  2.0  117.4   63.1  yeovilton
37045       37045  2020.0    3.0  11.5   3.0  6.0   43.4  159.2  yeovilton
37046       37046  2020.0    4.0  17.5   5.3  3.0   39.8  235.0  yeovilton
37047       37047  2020.0    5.0  19.7   6.8  2.0    3.6  305.6  yeovilton
37048       37048  2020.0    6.0  20.5  11.0  0.0  103.0  187.6  yeovilton

       day    datetime
0        1  1941-01-01
1        1  1941-02-01
2        1  1941-03-01
3        1  1941-04-01
4        1  1941-05-01
...    ...         ...
37044    1  2020-02-01
37045    1  2020-03-01
37046    1  2020-04-01
37047    1  2020-05-01
37048    1  2020-06-01

[37049 rows x 11 columns]

2. Write a function *mean_rainfall* that takes in input the dataframe, the name of a weather station, the upper and lower bounds of a time interval and computes the mean *rain* for the time period between (and including) the upper and lower bound. Make the station name not case-sensitive. Use the inputs as in the example below (i.e. upper and lower bounds as strings) (*3 points*)

```python 
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")  # returns 49.52
mean_rainfall(df_weather, "manston", "january 2019", "march 2020")  # also returns 49.52
```

In [71]:
from datetime import datetime

In [106]:
def mean_rainfall(df, station, lower_bound, upper_bound):
    station = station.lower()
    
    lower_bound = datetime.strptime(lower_bound, '%B %Y').date()
    upper_bound = datetime.strptime(upper_bound, '%B %Y').date()
    lower_bound = np.datetime64(lower_bound)
    upper_bound = np.datetime64(upper_bound)
    
    filtered_df = df[(df['station'] == station) & (df['datetime'] >= lower_bound) & (df['datetime'] <= upper_bound)]
    
    return filtered_df['rain'].mean()


print(mean_rainfall(df_weather, "Manston", "january 2019", "march 2020"))
print(mean_rainfall(df_weather, "manston", "january 2019", "march 2020"))

49.52
49.52

3. Expand the function *mean_rainfall* of the previous point, such that it also returns the number of days since the maximum rainfall in the time-period selected and the current date (use 28th of March as reference) (*2 points*)

```python 
mean_rainfall(df_weather, "Manston", "january 2019", "march 2020")  # returns 49.52, 1640
```

In [107]:
def mean_rainfall(df, station, lower_bound, upper_bound):
    station = station.lower()
    
    lower_bound = datetime.strptime(lower_bound, '%B %Y').date()
    upper_bound = datetime.strptime(upper_bound, '%B %Y').date()
    lower_bound = np.datetime64(lower_bound)
    upper_bound = np.datetime64(upper_bound)
    date_today = 
    
    filtered_df = df[(df['station'] == station) & (df['datetime'] >= lower_bound) & (df['datetime'] <= upper_bound)]
    
    return filtered_df['rain'].mean(), filtered_df.sum()


print(mean_rainfall(df_weather, "Manston", "january 2019", "march 2020"))
print(mean_rainfall(df_weather, "manston", "january 2019", "march 2020"))

TypeError: 'DatetimeArray' with dtype datetime64[ns] does not support reduction 'sum'